.container {
	justify-content: center;
	align-items: center;
}

.container-banner {
	background-color: #ffffff;
	text-align: center;
	border-style: hidden;
	border-radius: 15px;
	font-family: "Ruda", sans-serif;
	padding: 1em;
}

img {
	border-radius: 50%;
}
.buttons {
	background-color: black;
	text-align: center;
}
.button {
	padding-right: 1cm;
}
.row {
	margin: 1em;
}
.navbar-dark {
	background-color: #eb9d0d;
}

.footer {
	position: absolute;
	right: 0;
	bottom: 0;
	color: yellow;
	height: 40px;
	text-align: center;
}

.small {
	color: red;
	padding: 5px;
}

.small:hover {
	color: inherit;
	text-decoration: none;
}

.list {
	list-style-type: none;
	padding: 10px;
}

.creator {
	color: pink;
	text-decoration: none;
}

.creator:hover {
	color: blue;
	text-decoration: none;
}
