@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Biryani:wght@800&display=swap");

.generic {
  font-style: Rubik;
  color: rgb(61, 21, 21);
}

.container {
  justify-content: center;
  align-items: left;
}

.container-banner {
  background-color: #ffffff;
  text-align: center;
  border-style: hidden;
  border-radius: 15px;
  font-family: "Ruda", sans-serif;
  padding: 1em;
}

img {
  border-radius: 50%;
}
.buttons {
  background-color: black;
  text-align: center;
}
.button {
  padding-right: 1cm;
}
.row {
  margin: 1em;
}
.navbar-dark {
  background-color: #000;
}

.footer {
  font-family: Rubik;
  position: fixed;
  right: 0;
  bottom: 0;
  color: yellow;
  height: 40px;
  text-align: left;
}

.small {
  color: red;
  padding: 5px;
}

.small:hover {
  color: inherit;
  text-decoration: none;
}

.navbar-inner {
  background: transparent;
}

.list {
  list-style-type: none;
  padding: 10px;
}

.creator {
  color: pink;
  text-decoration: none;
  font-family: Rubik;
}

.creator:hover {
  color: rebeccapurple;
  text-decoration: none;
}

.title {
  font-size: 25px;
  font-weight: bold;
  font-family: "Kaushan Script", cursive;
  color: bisque;
  font-weight: 600;
  text-decoration: none;
  padding-right: 10px;
}
.title:hover {
  text-decoration: none;
}
